<!--<p [ngStyle]="{color: 'red'}">-->
<!--  Start editing to see some magic happen-->
<!--</p>-->

<!--<ul>-->
<!--  <li *ngFor="let user of users;index as isIndex;count as isTotal;even as isEven;odd as isOdd">-->
<!--    <span>{{user.name}} - {{user.phone}} - {{user.email}}</span>-->
<!--    <br/>-->
<!--    <span>This index {{isIndex}} of {{isTotal}}</span>-->
<!--    <span *ngIf="isEven">This is even</span>-->
<!--    <br/>-->
<!--    <br/>-->
<!--  </li>-->
<!--</ul>-->

<!--<button *ngFor="let tag of tags;last as isLast;index as isIndex" [class.left-margin]="!isLast">{{tag}}</button>-->

<!--<button (click)="currentProgress = currentProgress + 1">toggle plus</button>-->
<!--<progress-bar [progressColor]="'tomato'"></progress-bar>-->
<!--<br>-->
<!--<progress-bar [progress]="currentProgress" [progressColor]="'orange'" > </progress-bar>-->
<!--<br>-->
<!--<input type="text">-->
<!--<br>-->
<!--<br>-->
<!--<input type="text">-->
<!--<br>-->

<!--<authors-list></authors-list>-->

<!--<button (click)="showLast = !showLast">toggle showLast</button>-->

<!--<input #nameInput type="text" [value]="title">-->
<!--  <app-toggle [(checked)]="isChecked"></app-toggle>-->
<!--  <app-toggle [(checked)]="isChecked"></app-toggle>-->
<!--<ng-container *ngIf="showLast">-->
<!--  <app-toggle [(checked)]="isChecked"></app-toggle>-->
<!--</ng-container>-->
<!--<app-toggle [(checked)]="isChecked"></app-toggle>-->
<!--<button (click)="toggleComp.toggle()">toggle me</button>-->


<!--<app-list-person></app-list-person>-->
<!--<app-parent></app-parent>-->

<!--<app-parent>-->
<!--  <app-child></app-child>-->
<!--</app-parent>-->


<!--<app-learn-pipe></app-learn-pipe>-->

<!--<app-ip></app-ip>-->
<app-weather></app-weather>
